<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="css/main.min.css">
    <title>Homepage</title>
</head>

<body>
    <header>
        <div class="header header-container">
            <a class="logo" href="#">
                <img src="img/logo.svg" alt="">
            </a>
            <div class="menu-toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="header__dropdown">
            <a class="header-dropdown__link" href="#">About</a>
            <a class="header-dropdown__link"  href="#">What We Do</a>
            <a class="header-dropdown__link" href="#">Projects</a>
            <a class="header-dropdown__link" href="#">How It Work With Us</a>
        </div>
    </header>
    <main>
        <section class="main-information">
            <div class="main-information-content">
                <div class="page-container">
                    <div class="main-information__about">
                        <h1>New Automation Tool for Your Home</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus tristique vulputate
                                ultrices ut mauris tellus at. Posuere sollicitudin odio tellus elit.</p>
                            <a class="btn" href="#">See Our Project</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="advantages">
            <div class="page-container">
                <div class="advantages-content">
                    <div class="advantages__item">
                        <h2>What we do to help our client grow in digital era</h2>
                    </div>
                    <div class="advantages__item advantages__item_block">
                        <div class="advantages-item__img advantages-item__img_absolute">
                            <img src="img/third.svg" alt="">
                        </div>
                        <div class="advantages-item__text">
                            <h3>Bring Technology To Your
                                Comfrotable Home</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. </p>
                            <a class="more-info" href="#">Learn more</a>
                        </div>
                    </div>
                    <div class="advantages__item advantages__item_block">
                        <div class="advantages-item__img">
                            <img src="img/first.svg" alt="">
                        </div>
                        <div class="advantages-item__text">
                            <h3>Make Your business To Be
                                Better Famous In Internet</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. </p>
                            <a class="more-info" href="#">Learn more</a>
                        </div>
                    </div>
                    <div class="advantages__item advantages__item_block">
                        <div class="advantages-item__img">
                            <img src="img/second.svg" alt="">
                        </div>
                        <div class="advantages-item__text">
                            <h3>Build Your Digital Product
                                That Suitable For Your Need</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. </p>
                            <a class="more-info" href="#">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="clients">
            <div class="page-container">
                <div class="clients__about">
                    <h2>Our Beloved <br> Client</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                </div>
                <table class="clients__table">
                    <tr>
                        <td>LOGO CLIENT 1</td>
                        <td>LOGO CLIENT 2</td>
                        <td>LOGO CLIENT 3</td>
                        <td>LOGO CLIENT 4</td>
                    </tr>
                    <tr>
                        <td>LOGO CLIENT 5</td>
                        <td>LOGO CLIENT 6</td>
                        <td>LOGO CLIENT 7</td>
                        <td><a class="table__link" href="#">More Client</a></td>
                    </tr>
                </table>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-wrap">
            <div class="page-container">
                <div class="footer__work">
                    <div class="footer-work__about">
                        <h2>Intersted to work <br> with our team?</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                    <a class="btn popup-btn" href="#">Let's Talk</a>
                </div>
                <div class="footer__main">
                    <div class="footer-main__contacts">
                        <a href=""><h3 class="footer-main-contacts__tittle">Afrianska</h3></a>
                        <ol class="footer-main-contacts__content">
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                            <li><a href="tel:+6281273134321">+62-812-7313-4321</a></li>
                            <li><a href="mailto:hello.afrian@gmail.com">hello.afrian@gmail.com</a></li>
                        </ol>
                    </div>
                    <div class="footer-main__about-us">
                        <h3>About US</h3>
                        <a class="footer__link" href="">About</a>
                        <a class="footer__link" href="">What We Do</a>
                        <a class="footer__link" href="">Project</a>
                        <a class="footer__link" href="">How It Work With Us</a>
                    </div>
                    <div class="footer-main__follow-us">
                        <h3>Follow US</h3>
                        <a class="footer__link" href="">Instagram</a>
                        <a class="footer__link" href="">Facebook</a>
                        <a class="footer__link" href="">LinkedIn</a>
                        <a class="footer__link" href="">Youtube</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="popup-form">
        <div class="ajax-content">
            <button class="modal_content_close" type="button" title="Закрыть">Закрыть</button>
            <h3>Send us message</h3>
            <form class="ajax-form" action="form.html" method="GET">
                <label>
                    <p>Full Name</p>
                    <input type="text" class="name-field" name="name" placeholder="Your Name">
                </label>
                <label>
                    <p>Email</p>
                    <input type="text" class="email-field" name="email" placeholder="Email">
                </label>
                <label>
                    <p>Message</p>
                    <textarea class="message-area" placeholder="Your Message"></textarea>
                </label>
                <button class="btn submit-btn" type="submit">Submit</button>
            </form>
        </div>
    </div>
    <div class="ajax-notify">
        <div class="ajax-notify__content">

        </div>
    </div>
    <script src="js/vendors.min.js"></script>
    <script src="js/script.min.js"></script>
</body>

</html>